{% load static %}
<!DOCTYPE html>
<html>
<title>To_Do_App</title>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css'>
<link type="text/css" rel="stylesheet" href='{% static "css/style.css" %}'>

<body>
{% block content %}

{% endblock %}
<script src='{% static "js/script.js" %}'></script>
<script src="//code.jquery.com/jquery-3.1.0.slim.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
</body>
</html>